/* Import Mona Sans Font */
@font-face {
  font-family: 'Mona Sans';
  src: 
    url(/fonts/Mona-Sans.woff2) format("woff2 supports variations"),
    url(/fonts/Mona-Sans.woff2) format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

:root {
  --bg-default: rgb(255, 255, 255);

  --fg-text-primary: rgb(0, 0, 0);
  --fg-text-secondary: rgb(75, 75, 75);
  --fg-text-heading: rgb(20, 20, 20);

  --fg-link-primary: rgba(80, 80, 214, 1);
  --fg-link-hover: rgba(80, 80, 214, .75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-default: rgb(12, 12, 12);
    
    --fg-text-primary: rgb(235, 235, 235);
    --fg-text-secondary: rgb(180, 180, 180);
    --fg-text-heading: rgb(255, 255, 255);

    --fg-link-primary: rgb(80, 105, 200);
    --fg-link-hover: rgba(80, 105, 200, .75);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Mona Sans';
}

body {
  background-color: var(--bg-default);
  color: var(--fg-text-primary);
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
  padding: 1rem;
}

h1,
h2 {
  color: var(--fg-text-heading);
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.52rem; }

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--fg-link-primary);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: var(--fg-link-hover);
}

.main-heading {
  font-size: 3rem;
  font-weight: 800;
}




main {

}


.footer {
  color: var(--fg-text-secondary);
  font-size: .75rem;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}


.post-list-item {
  margin: 0 auto;
  max-width: 70ch;
  padding: 1rem;
}

.post-list-item h2 {
  margin-bottom: .5rem;
}

.blog-post {
  line-height: 1.5;
  margin: 0 auto;
  max-width: 70ch;
  padding: 1rem;
}

.blog-post p {
  margin: 2rem 0;
}

.blog-post ol {
  list-style: decimal;
  padding-left: 1rem;
}
.blog-post ul {
  list-style: disc;
  padding-left: 1rem;
}

.blog-post-nav {
  margin: 0 auto;
  max-width: 70ch;
  padding: 1rem;
}

.blog-post-nav ul {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.blog-post-nav-left {
  flex: 1 1 0;
  text-align: left;
}

.blog-post-nav-right {
  flex: 1 1 0;
  text-align: right;
}